/* src/components/Footer.css */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ccfed8, #9ec5f7);
    padding: 10px;
    color: #000;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer a {
    color: #000;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
