/* src/components/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ccfed8, #9ec5f7);
    padding: 2px 5px; /* Reduced padding */
    height: 20px; /* Smaller header height */
}

.logo {
    height: 50px;
    width: auto;
}

.system-info {
    margin-left: auto; /* Align system info to the right */
}

