.submission-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(to right, #ccfed8, #9ec5f7);
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.metadata-section {
    flex: 1;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #ccfed8, #9ec5f7);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metadata-table {
    width: 100%;
    border-collapse: collapse;
}

.metadata-table th,
.metadata-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    background-color: #f9f9f9;
}

.metadata-table th {
    background: linear-gradient(to right, #ccfed8, #9ec5f7);
    font-weight: bold;
}

.metadata-table td {
    background: linear-gradient(to right, #ccfed8, #9ec5f7);
}

.input-data-section {
    flex: 1;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background: transparent;
}

.dataset-details, .action-buttons {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action-buttons button {
    background-color: #444444;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.action-buttons button:hover {
    background-color: #222222;
}

.done-button-section {
    text-align: center;
    margin-top: 20px;
}

.done-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.done-button:hover {
    background-color: #000000;
}

.json-display {
    background: linear-gradient(to right, #ccfed8, #9ec5f7);
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    height: auto;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Courier New', Courier, monospace;
}
