.user-submissions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #ccfed8, #9ec5f7);
    justify-content: space-between;
    height: 100vh;
}

.submissions-header, .submissions-footer {
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right, #ccfed8, #9ec5f7);
    display: flex;
    justify-content: space-between;
}

.submissions-main {
    flex: 1;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content */
}

.submissions-table {
    margin-bottom: 20px;
    width: 100%; /* Ensure the table takes full width */
}

.submission-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

button {
    background-color: black; /* Set all buttons to black */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.new-problem-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black; /* Black color for New Problem button */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text inside the button */
}
